<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/bitcoin_icon_transparent.png') }}" type="image/x-icon">
    <title>BitJoin Cotações</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style-quem-somos.css')}}">
</head>
<body>
    <header>
        <div id="estilo_h1_p">
            <h1>Bem-vindo ao BitJoin Info</h1>
            <p>A principal fonte de informações sobre Moedas</p>
            <div id="menu"> 
                <a href="/"> | Pagina de Cotacoes | </a>

                <a href="/news"> | Principais Notícias | </a>
                <a href="/cadastro">| Cadastro | </a>
                <a href="/desinscrever"> | Desinscrever | </a> 
                <a href="/quemSomos"> | Quem Somos | </a> 
                <a href="/faq"> | Perguntas Frequentes | </a> 
            </div>
        </div>
        <img id="bitcoin_icone" src="{{url_for('static',filename='images/bitcoin20.png')}}" alt="Bitcoin">
    </header>

    <div class="container">
        <!-- Bloco de cotação do Bitcoin -->
        <div class="box">
            <h3 style="align-items: top; margin-bottom: 30px;">Quem Somos</h3>
            <p>
                Nós, da BitJoin, somos entusiastas de criptoativos, moedas em geral e tecnologia. Nossa paixão nos leva a acompanhar de perto os valores dos principais ativos, bem como os lucros e perdas associados. 
                Unindo essa dedicação ao nosso interesse pela tecnologia, surgiu o projeto BitJoin: uma plataforma para acompanhar e acessar as últimas notícias do mercado de criptomoedas.
            </p>
            <p>
                Este site está disponível por um período limitado, de 30 a 60 dias, e foi desenvolvido como um projeto para testar e aplicar nossos conhecimentos. A maior parte do trabalho foi realizada por mim, Brayan, com algumas contribuições do Lauan, especialmente em algumas páginas e pop-ups.
            </p>
            <p>
                O principal objetivo do site é enviar diariamente um resumo do mercado do Bitcoin por e-mail e disponibilizar as cotações mais relevantes. Ao lado, compartilhamos os GitHub dos responsáveis pelo projeto.
            </p>
            
        </div>

        <!-- Ícones do GitHub -->
        <div id="github-links">
            <div class="github-item">
                <a id="github_brayan" href="https://github.com/Brayandev0" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub Icon" class="github-icon">
                </a>
                <p>Brayan</p>
            </div>
            <div class="github-item">
                <a id="github_lauan" href="https://github.com/LauanCrescencio" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub Icon" class="github-icon">
                </a>
                <p>Lauan</p>
            </div>
        </div>
    </div>



    <footer>
        <p>© 2024 Projeto BitJoin. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
